<!DOCTYPE html>
<html>
  <head>
    <title>Torino</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/fsiino/torino/master/app/assets/images/torino-fav.ico" type="image/x-icon"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyA7YgPzZkbJT-6Zh8Gm1wvj4xRlCpDynYA" %> 

    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
