<!DOCTYPE html>
<html>
  <head>
    <meta property="og:image" content="https://github.com/fsiino/fsiino.github.io/blob/master/images/thumbs/project-fsp-still.png?raw=true"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://thuro.herokuapp.com" />
    <meta property="og:title" content="Thuro" />
    <meta property="og:description" content="Full Stack Clone of Turo.com" />
    <title>Thuro</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/fsiino/thuro/master/app/assets/images/favicon2.ico" type="image/x-icon"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}"  %>

    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
